<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" #inputName>
            </div>
            <div class="col-sm-2 form-group">
                <label for="Amount"></label>
                <input type="text" id="Amount" class="form-control" #inputAmount>
            </div>
        </div>
        <div class="row">
<div class="col-xs-12">
    <button class="btn btn-success" (click)="onSubmit()" type="Submit">Add</button>
    <button class="btn btn-danger" type="Submit">Delete</button>
    <button class="btn btn-primary" type="Submit">Clear</button>
</div>
</div>
</form>
    </div>
</div>